html {
    margin: 0 auto;
    padding: 0;
    position: relative;
    max-width: 1376px;
}

body {
    text-align: center;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #efefef;
}

nav {
    width: 100%;
    background-color: rgba(44, 48, 55, .5);
    margin-top: 0px;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
}

nav a {
    color: #F8ECC2;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

nav a:hover {
    text-decoration: none;
    color: #F8ECC2;
}

header nav ul {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #F8ECC2;
}

.menu-trigger {
    display: none;
    color: #F8ECC2;
}

p {
    line-height: 3;
   }
   
@media screen and (max-width:900px) {
    .menu-trigger {
        display: block;
    }
    nav ul li {
        display: block;
    }
    nav ul {
        display: none;
    }
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(76, 47, 30, 0.74);
    z-index: 999;
}

a {
    line-height: 1;
    display: inline-block;
    color: #D1C131;
    text-decoration: none;
    cursor: pointer;
}

a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #D1C131;
    transition: width .3s ease-in-out;
}

a:hover:after,
a:focus:after {
    width: 100%;
    color: #D1C131;
}


#userinfo {
    clear: both;
    background-color: rgba(76, 47, 30, 0.74);
    border: solid 1px #999;
    margin: 50px auto;
    width: 100%;
}

.contacts {
    margin-left: 25%;

}

input,
textarea {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

textarea:focus,
input:focus {
    background-color: #BFBDC1;
    border: 3px solid #555;
}

.sbm-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}


#footer {
    position: relative;
    left: 0;
    bottom: 0;

    background: #251603;
    color: #EBEBED;
    width: 100%;
}

.image {
    position: relative;
    display: table-row;


}

#room1 {
    height: 33%;
    width: 33%;
}

#room2 {
    height: 33%;
    width: 33%;
}

#rest1 {
    height: 33%;
    width: 33%;
}

@media screen and (max-width:900px) {
    .menu-trigger {
        display: block;
    }
    nav ul li {
        display: block;
    }
    nav ul {
        display: none;
    }
    #room1 {
        height: 100%;
        width: 100%;
    }

    #room2 {
        height: 100%;
        width: 100%;
    }

    #rest1 {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width:576px) {
    .row {
        margin: 0;
    }
    .col-sm-6 {
        margin: 0 ;
        padding: 0;
    }
    #coltext {
        padding: 10 !important;
        margin: 10 !important;
    }
}
